h1.main-head {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

body.background {
    background-color: black;
    text-align: center;
}

a.link {
    color: aquamarine;
    font-size: 16px;
    font-family: Verdana;
}

a.link:visited {
    color: aquamarine !important;
}

h1.personal-travel-guide {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p.excursion-description {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

p.copyright {
    text-align: right;
    color: gray;
    font-family: Verdana;
}

